.parent{
         border: 3px solid black; 
        height: 400px;
        display: flex;
        height: 100%;
        width: 100%;
        position: relative;
}

.pc1{
     border: 2px solid red ; 
    height: 820px;
    width: 100%;
    font-size: xx-large;
    font-weight: 900;
    


}

/* Un comment the borders to get the postions of divs */

.pc2 { 
    /* border: 2px solid blue ; */
    height: 820px;
    width: 100%;
   
     background-image: url("./Pictures/Autum.jpg"); 
    



}








