

.parent{
        border: 3px solid black;
        height: 400px;
        width: 100%;
        display: flex;


}

.pc1{
    border: 2px solid rgb(107, 78, 78) ;
    height: 100%;
    width: 50%;
    font-size: xx-large;
    font-weight: 900;


    

}

.pc2 { 
    border: 2px solid blue ;
    height: 100%;
    width: 50%;
    background-image: url("./Pictures/Autum.jpg");



}







